[Unit]
Description=Check the Echo voice app every 30 seconds

[Timer]
OnBootSec=60
OnUnitInactiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
